# server
PORT=3000
NODE_ENV=development

# database
MONGODB_URI=mongodb://127.0.0.1:27017/

# tokens 
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

# redis
REDIS_URL=redis://localhost:6379
